extends layout

block content
	#contentwrapper
		.main_content
			nav
				#jCrumbs.breadCrumb.module
					ul
						li
							a(href='#')
								i.icon-home
						li
							a(href='#') #{title}
						li
							a(href='#') #{query}
			.row-fluid
				.span12
					h3.heading
						| #{query}의 검색 결과
						small (  #{result} )
					#large_grid.wmk_grid
						ul
							each row in rows
								li.thumbnail
									each val, key in row
										if( val!="" && key!='id' && key!='reg_date' &&  key!='error' &&  key!='parse' &&  key!='_typeCast' &&  key!='homepage' && key!='cyworld')
											case key
												when "thumb"
													a  
														img(src=val)
													p
														a(href='javascript:void(0)', title='Remove')
															i.icon-trash
														a(href='javascript:void(0)', title='Edit')
															i.icon-pencil
												when "name"
													span #{val}
												when "real_name"
													p 본명 : #{val}
												when "birth"
													p 생일: #{val}
												when "review"
													p 데뷔: #{val}													
												when "job"
													p 직업: #{val}
												when "team"
													p 그룹: #{val}
												when "agency"
													p 소속사: #{val}
												when "body"
													p 신체: #{val}
												when "comunity"
													p 팬클럽: #{val}
												when "hobby"
													p 취미: #{val}
												when "specialty"
													p 특기: #{val}
												when "birthplace"
													p 출생지: #{val}
												when "family"
													p 가족: #{val}																																																																																																																																																																																					
												default
													p #{key}: #{val}
							//li.thumbnail
								a(href='gallery/Image19.jpg', title='Image_19 title long title long title long')
									img(src='/gallery/Image19_tn.jpg', alt='')
								p
									a(href='javascript:void(0)', title='Remove')
										i.icon-trash
									a(href='javascript:void(0)', title='Edit')
										i.icon-pencil
									span Test set
	a.sidebar_switch.on_switch.ttip_r(href='javascript:void(0)', title='Hide Sidebar') Sidebar switch
	.sidebar
		.antiScroll
			.antiscroll-inner
				.antiscroll-content
					.sidebar_inner
						form.input-append(action='/search', method='get')
							input.search_query.input-medium(autocomplete='off', name='q', size='16', type='text', placeholder='Search...')
							button.btn(type='submit')
								i.icon-search
						form.input-append(action='/sql', method='get')
							select(name='use',style='width:160px')
								option entertainer
								option	repository	
							input.search_query.input-medium(autocomplete='off', name='sql', size='16', type='text', placeholder='SQL QUERY')
							button.btn(type='submit')
								i.icon-search	
						#side_accordion.accordion
							.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapseOne', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-folder-close
										| Content
								#collapseOne.accordion-body.collapse
									.accordion-inner
										ul.nav.nav-list
											li
												a(href='javascript:void(0)') Articles
											li
												a(href='javascript:void(0)') News
											li
												a(href='javascript:void(0)') Newsletters
											li
												a(href='javascript:void(0)') Comments
							.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapseTwo', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-th
										| Modules
								#collapseTwo.accordion-body.collapse
									.accordion-inner
										ul.nav.nav-list
											li
												a(href='javascript:void(0)') Content blocks
											li
												a(href='javascript:void(0)') Tags
											li
												a(href='javascript:void(0)') Blog
											li
												a(href='javascript:void(0)') FAQ
											li
												a(href='javascript:void(0)') Formbuilder
											li
												a(href='javascript:void(0)') Location
											li
												a(href='javascript:void(0)') Profiles
							.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapseThree', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-user
										| Account manager
								#collapseThree.accordion-body.collapse
									.accordion-inner
										ul.nav.nav-list
											li
												a(href='javascript:void(0)') Members
											li
												a(href='javascript:void(0)') Members groups
											li
												a(href='javascript:void(0)') Users
											li
												a(href='javascript:void(0)') Users groups
							.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapseFour', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-cog
										| Configuration
								#collapseFour.accordion-body.collapse
									.accordion-inner
										ul.nav.nav-list
											li.nav-header People
											li.active
												a(href='javascript:void(0)') Account Settings
											li
												a(href='javascript:void(0)') IP Adress Blocking
											li.nav-header System
											li
												a(href='javascript:void(0)') Site information
											li
												a(href='javascript:void(0)') Actions
											li
												a(href='javascript:void(0)') Cron
											li.divider
											li
												a(href='javascript:void(0)') Help
							.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapseLong', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-leaf
										| Long content (scrollbar)
								#collapseLong.accordion-body.collapse
									.accordion-inner
										| Some text to show sidebar scroll bar
										br
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus, orci ac fermentum imperdiet, purus sapien pharetra diam, at varius nibh tellus tristique sem. Nulla congue odio ut augue volutpat congue. Nullam id nisl ut augue posuere ullamcorper vitae eget nunc. Quisque justo turpis, tristique non fermentum ac, feugiat quis lorem. Ut pellentesque, turpis quis auctor laoreet, nibh erat volutpat est, id mattis mi elit non massa. Suspendisse diam dui, fringilla id pretium non, dapibus eget enim. Duis fermentum quam a leo luctus tincidunt euismod sit amet arcu. Duis bibendum ultricies libero sed feugiat. Duis ut sapien risus. Morbi non nulla sit amet eros fringilla blandit id vel augue. Nam placerat ligula lacinia tellus molestie molestie vestibulum leo tincidunt.
										| Duis auctor varius risus vitae commodo. Fusce nec odio massa, ut dapibus justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus, mauris sit amet feugiat tempor, nulla diam gravida magna, in facilisis sapien tellus non ligula. Mauris sapien turpis, sodales ac lacinia sit amet, porttitor in lacus. Pellentesque tincidunt malesuada magna, in egestas augue sodales vel. Praesent iaculis sapien at ante sodales facilisis.
							//.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapse7', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-th
										| Calculator
								#collapse7.accordion-body.collapse.in
									.accordion-inner
										form#calc(name='Calc')
											.formSep.control-group.input-append
												input(type='text', style='width: 142px;', name='Input')
												button.btn(type='button', name='clear', value='c', onclick='Calc.Input.value = \'\'')
													i.icon-remove
											.control-group
												input.btn.btn-large(type='button', name='seven', value='7', onclick='Calc.Input.value += \'7\'')
												input.btn.btn-large(type='button', name='eight', value='8', onclick='Calc.Input.value += \'8\'')
												input.btn.btn-large(type='button', name='nine', value='9', onclick='Calc.Input.value += \'9\'')
												input.btn.btn-large(type='button', name='div', value='/', onclick='Calc.Input.value += \' / \'')
											.control-group
												input.btn.btn-large(type='button', name='four', value='4', onclick='Calc.Input.value += \'4\'')
												input.btn.btn-large(type='button', name='five', value='5', onclick='Calc.Input.value += \'5\'')
												input.btn.btn-large(type='button', name='six', value='6', onclick='Calc.Input.value += \'6\'')
												input.btn.btn-large(type='button', name='times', value='x', onclick='Calc.Input.value += \' * \'')
											.control-group
												input.btn.btn-large(type='button', name='one', value='1', onclick='Calc.Input.value += \'1\'')
												input.btn.btn-large(type='button', name='two', value='2', onclick='Calc.Input.value += \'2\'')
												input.btn.btn-large(type='button', name='three', value='3', onclick='Calc.Input.value += \'3\'')
												input.btn.btn-large(type='button', name='minus', value='-', onclick='Calc.Input.value += \' - \'')
											.formSep.control-group
												input.btn.btn-large(type='button', name='dot', value='.', onclick='Calc.Input.value += \'.\'')
												input.btn.btn-large(type='button', name='zero', value='0', onclick='Calc.Input.value += \'0\'')
												input.btn.btn-large(type='button', name='DoIt', value='=', onclick='Calc.Input.value = Math.round( eval(Calc.Input.value) * 1000)/1000')
												input.btn.btn-large(type='button', name='plus', value='+', onclick='Calc.Input.value += \' + \'')
											| Contributed by
											a(href='http://themeforest.net/user/maumao') maumao
						.push
					.sidebar_info
						ul.unstyled
							li
								span.act.act-warning 65
								strong New comments
							li
								span.act.act-success 10
								strong New articles
							li
								span.act.act-danger 85
=======
extends layout

block content
	#contentwrapper
		.main_content
			nav
				#jCrumbs.breadCrumb.module
					ul
						li
							a(href='#')
								i.icon-home
						li
							a(href='#') #{title}
						li
							a(href='#') #{query}
			.row-fluid
				.span12
					h3.heading
						| #{query}의 검색 결과
						small ( #{result} )
					#large_grid.wmk_grid
						ul
							each row in rows
								li.thumbnail
									each val, key in row
										if(val!='' && key!='parse' && key!='error' && key!='_typeCast' && key!='_typeCast' && key!='id' && key!='reg_date')								
											case key
												when "thumb"
													a(href=val) 
														img(src=val, alt='thumbnail')
													p
														a(href='javascript:void(0)', title='Remove')
															i.icon-trash
														a(href='javascript:void(0)', title='Edit')
															i.icon-pencil
												when "name"
													p #{val}
												when "real_name"
													p 본명 : #{val}
												when "job"
													p 직업: #{val}
												when "birth"
													p 생일: #{val}
												when "agency"
													p 소속사: #{val}
												when "body"
													p 신체: #{val}
												when "review"
													p 데뷰: #{val}
												when "hobby"
													p 취미: #{val}													
												when "specialty"
													p 취미: #{val}
												when "comunity"
													p 팬클럽: #{val}
												when "family"
													p 가족: #{val}																								
												when "homepage"
													//a(href=val) 공식홈페이지
												when "cyworld"
													//a(href=val) 싸이월드												
												when "birthplace"
													p 출생지: #{val}																																																																																			
												default
													p #{key}: #{val}

							else
								span 검색결과가 없습니다.

							//li.thumbnail
								a(href='gallery/Image19.jpg', title='Image_19 title long title long title long')
									img(src='/gallery/Image19_tn.jpg', alt='')
								p
									a(href='javascript:void(0)', title='Remove')
										i.icon-trash
									a(href='javascript:void(0)', title='Edit')
										i.icon-pencil
									span Test set


	a.sidebar_switch.on_switch.ttip_r(href='javascript:void(0)', title='Hide Sidebar') Sidebar switch
	.sidebar
		.antiScroll
			.antiscroll-inner
				.antiscroll-content
					.sidebar_inner
						form.input-append(action='/search', method='get')
							input.search_query.input-medium(autocomplete='off', name='q', size='16', type='text', placeholder='Search...')
							button.btn(type='submit')
								i.icon-search
						form.input-append(action='/sql', method='get')
							select(name='use',style='width:160px')
								option entertainer
								option	repository				
							input.search_query.input-medium(autocomplete='off', name='sql', size='16', type='text', placeholder='SQL QUERY')
							button.btn(type='submit')
								i.icon-search									
						#side_accordion.accordion
							.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapseOne', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-folder-close
										| Content
								#collapseOne.accordion-body.collapse
									.accordion-inner
										ul.nav.nav-list
											li
												a(href='javascript:void(0)') Articles
											li
												a(href='javascript:void(0)') News
											li
												a(href='javascript:void(0)') Newsletters
											li
												a(href='javascript:void(0)') Comments
							.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapseTwo', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-th
										| Modules
								#collapseTwo.accordion-body.collapse
									.accordion-inner
										ul.nav.nav-list
											li
												a(href='javascript:void(0)') Content blocks
											li
												a(href='javascript:void(0)') Tags
											li
												a(href='javascript:void(0)') Blog
											li
												a(href='javascript:void(0)') FAQ
											li
												a(href='javascript:void(0)') Formbuilder
											li
												a(href='javascript:void(0)') Location
											li
												a(href='javascript:void(0)') Profiles
							.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapseThree', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-user
										| Account manager
								#collapseThree.accordion-body.collapse
									.accordion-inner
										ul.nav.nav-list
											li
												a(href='javascript:void(0)') Members
											li
												a(href='javascript:void(0)') Members groups
											li
												a(href='javascript:void(0)') Users
											li
												a(href='javascript:void(0)') Users groups
							.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapseFour', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-cog
										| Configuration
								#collapseFour.accordion-body.collapse
									.accordion-inner
										ul.nav.nav-list
											li.nav-header People
											li.active
												a(href='javascript:void(0)') Account Settings
											li
												a(href='javascript:void(0)') IP Adress Blocking
											li.nav-header System
											li
												a(href='javascript:void(0)') Site information
											li
												a(href='javascript:void(0)') Actions
											li
												a(href='javascript:void(0)') Cron
											li.divider
											li
												a(href='javascript:void(0)') Help
							.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapseLong', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-leaf
										| Long content (scrollbar)
								#collapseLong.accordion-body.collapse
									.accordion-inner
										| Some text to show sidebar scroll bar
										br
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus, orci ac fermentum imperdiet, purus sapien pharetra diam, at varius nibh tellus tristique sem. Nulla congue odio ut augue volutpat congue. Nullam id nisl ut augue posuere ullamcorper vitae eget nunc. Quisque justo turpis, tristique non fermentum ac, feugiat quis lorem. Ut pellentesque, turpis quis auctor laoreet, nibh erat volutpat est, id mattis mi elit non massa. Suspendisse diam dui, fringilla id pretium non, dapibus eget enim. Duis fermentum quam a leo luctus tincidunt euismod sit amet arcu. Duis bibendum ultricies libero sed feugiat. Duis ut sapien risus. Morbi non nulla sit amet eros fringilla blandit id vel augue. Nam placerat ligula lacinia tellus molestie molestie vestibulum leo tincidunt.
										| Duis auctor varius risus vitae commodo. Fusce nec odio massa, ut dapibus justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus, mauris sit amet feugiat tempor, nulla diam gravida magna, in facilisis sapien tellus non ligula. Mauris sapien turpis, sodales ac lacinia sit amet, porttitor in lacus. Pellentesque tincidunt malesuada magna, in egestas augue sodales vel. Praesent iaculis sapien at ante sodales facilisis.
							//.accordion-group
								.accordion-heading
									a.accordion-toggle(href='#collapse7', data-parent='#side_accordion', data-toggle='collapse')
										i.icon-th
										| Calculator
								#collapse7.accordion-body.collapse.in
									.accordion-inner
										form#calc(name='Calc')
											.formSep.control-group.input-append
												input(type='text', style='width: 142px;', name='Input')
												button.btn(type='button', name='clear', value='c', onclick='Calc.Input.value = \'\'')
													i.icon-remove
											.control-group
												input.btn.btn-large(type='button', name='seven', value='7', onclick='Calc.Input.value += \'7\'')
												input.btn.btn-large(type='button', name='eight', value='8', onclick='Calc.Input.value += \'8\'')
												input.btn.btn-large(type='button', name='nine', value='9', onclick='Calc.Input.value += \'9\'')
												input.btn.btn-large(type='button', name='div', value='/', onclick='Calc.Input.value += \' / \'')
											.control-group
												input.btn.btn-large(type='button', name='four', value='4', onclick='Calc.Input.value += \'4\'')
												input.btn.btn-large(type='button', name='five', value='5', onclick='Calc.Input.value += \'5\'')
												input.btn.btn-large(type='button', name='six', value='6', onclick='Calc.Input.value += \'6\'')
												input.btn.btn-large(type='button', name='times', value='x', onclick='Calc.Input.value += \' * \'')
											.control-group
												input.btn.btn-large(type='button', name='one', value='1', onclick='Calc.Input.value += \'1\'')
												input.btn.btn-large(type='button', name='two', value='2', onclick='Calc.Input.value += \'2\'')
												input.btn.btn-large(type='button', name='three', value='3', onclick='Calc.Input.value += \'3\'')
												input.btn.btn-large(type='button', name='minus', value='-', onclick='Calc.Input.value += \' - \'')
											.formSep.control-group
												input.btn.btn-large(type='button', name='dot', value='.', onclick='Calc.Input.value += \'.\'')
												input.btn.btn-large(type='button', name='zero', value='0', onclick='Calc.Input.value += \'0\'')
												input.btn.btn-large(type='button', name='DoIt', value='=', onclick='Calc.Input.value = Math.round( eval(Calc.Input.value) * 1000)/1000')
												input.btn.btn-large(type='button', name='plus', value='+', onclick='Calc.Input.value += \' + \'')
											| Contributed by
											a(href='http://themeforest.net/user/maumao') maumao
						.push
					.sidebar_info
						ul.unstyled
							li
								span.act.act-warning 65
								strong New comments
							li
								span.act.act-success 10
								strong New articles
							li
								span.act.act-danger 85
								strong New registrations									