extends layout/layout

block content
	#contentwrapper: .main_content
		nav
			#jCrumbs.breadCrumb.module
				ul
					li
						a(href='/')
							i.icon-home
					li
						a(href='/search?q=#{query}') #{query}
		.row-fluid
			.span12
				h3.heading
					| '#{query}' 검색 결과 
					small  (  #{result} )
				include tmeplate/person
	include layout/sidebar
	script(src='#{ws}/socket.io/socket.io.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
	script
		var socket  = io.connect('#{ws}');
	script(src='/ws/page.js')	
	//- script(src='/js/jquery.min.js')
	//- // colorbox 
	//- script(src='/lib/colorbox/jquery.colorbox.min.js')
	//- // datatable 
	//- script(src='/lib/datatables/jquery.dataTables.min.js')
	//- // additional sorting for datatables 
	//- script(src='/lib/datatables/jquery.dataTables.sorting.js')
	//- // tables functions 
	//- script(src='/js/rinker_tables.js')
